################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Notes.txt
/.vs/uefi-checkscript/v15
/.vs
/uefi-checkscript/WpfApp1/obj/Debug
/uefi-checkscript/WpfDebugWindow/bin/Debug
/uefi-checkscript/WpfDebugWindow/obj/Debug
/uefi-checkscript/.vs/uefi-checkscript/v15
